/* --------------------------------------------------
base
----------------------------------------------------- */

html {
  box-sizing: border-box;
}

body {
  font-family: $ff--sans !important;
  background-color: $c--white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-top: 8rem;
  display: flex;
  
  word-break: break-word;
}

#primary {
	max-width: 74%;
  flex: 1 0 100%;
  margin-top: 2rem; 
  margin-bottom: 50px;

  &.without-sidebar {
    max-width: 100%;
    float: none;
  }
}

#secondary {
	width: 24%;
	margin-left: 2%;
  margin-bottom: 50px;
}

main {	
  overflow-x: hidden;

  hr {
    height: 1px;
    clear: both;
    margin: 1rem 0;
    border: 0px solid transparent;
    border-top: 1px solid $c--gray;
    background-color: transparent;
  }

  ul {
    list-style-type: disc;
    margin-left: 1rem;
  }

  ol,
  ul {
    padding: 0.5rem 0;

    &.two-cols {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      width: 100%;
      position: relative;
    }

    &.three-cols {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
      width: 100%;
      position: relative;
    }

    li {
      font-weight: $fw--medium;
      font-size: $fs--medium; // was  $fs--x-normal
      line-height: 2.0rem;
      color: $c--gray;
      position: relative;

      strong {
        font-weight: $fw--bold;
      }

      a {
        text-decoration: underline;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: $c--link;
      }
    }

    &.text-white {
      li {
        color: $c--white;
        font-weight: $fw--regular;
      }
      strong {
        color: $c--white;
      }
    }

    &.highlight {
      list-style-type: none;

      li {
        position: relative;
        font-size: $fs--medium; // was  $fs--x-normal
        line-height: $fs--x-big;

        &::before {
          content: "\2022";
          color: $c--secondary;
          font-weight: $fw--bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }

    &.positive {
      list-style-type: none;
      margin-left: 1.75rem;

      li {
        position: relative;
        font-size: $fs--medium;

        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f00c";
          color: $c--success;
          font-weight: $fw--bold;
          display: inline-block;
          position: absolute;
          left: -1.5rem;
        }
      }
    }

    &.negative {
      list-style-type: none;
      margin-left: 1.75rem;

      li {
        position: relative;
        font-size: $fs--medium;

        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f00d";
          color: $c--danger;
          font-weight: $fw--bold;
          display: inline-block;
          position: absolute;
          left: -1.75rem;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: 0.5rem;
}

figure {
  &.align-right {
    padding: 0 0 2.5rem 3rem;
  }
  &.align-left {
    padding: 0 3rem 2.5rem 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
    margin-top: 0.5rem;
  }

  a {
    &:hover {
      img {
        @include opacity(0.8);
      }
    }
  }
}

#primary {
  // without .entry-content
  figure {
    text-align: center;
    margin-top: 1rem;

    img {
      @include box-shadow(0 0 16px 8px rgba(0, 0, 0, 0.2));
    }    
  }  

  ol {
    margin-left: 1rem;

    li {
      margin: 1rem;
    }
  }
  // with .entry-content
  .entry-content {
    figure {
      text-align: center;
      margin-top: 1rem;

      img {
        @include box-shadow(0 0 16px 8px rgba(0, 0, 0, 0.2));
      }
    }

    ol {
      margin-left: 1rem;

      li {
        margin: 1rem;
      }
    }
  }
}

/*
-- media queries
*/
@media(max-width: 991px) {
  .wrapper {
    flex-direction: column;
  }

  #primary,
  #secondary {
		width: 100%;
		float: none;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
	}
}

@media only screen and (max-width:768px) {
  figure {
    text-align: center;

    &.align-right {
      padding: 1rem 0;
    }
    &.align-left {
      padding: 1rem 0;
    }
  }   
  
  #primary {  
    .entry-content {
      figure {
        margin-top: 1rem;
        margin-bottom: 0;

        &.align-right {
          margin: 0;
        }
        &.align-left {
          margin: 0;
        }
      }
    }   
  }

  main {
    margin-top: 0;

    ol,
    ul {
      li {
        font-size: 1.05rem; // was
        font-weight: $fw--medium;
      }

      &.highlight {
        li {
          font-size: 1.05rem; // was
          font-weight: $fw--medium;
        }
      }

      &.two-cols {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }

      &.three-cols {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }
    }
  }
}

@media(min-width: 426px) {
  .wrapper {
    padding-top: 9rem;
  }
}
@media(min-width: 768px) {
  .wrapper {
    padding-top: 10rem;
  }
}
@media(min-width: 1200px) {
  .wrapper {
    padding-top: 8rem;
  }
}